<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Home</title>
</head>

<body>

<ul id="p7menubar">
	<li><a href="../index.html">回首頁</a></li>
	<li><a href="javascript;;">按鈕1</a><ul>
		<li><a href="../1-1.html">Sub 3.1</a></li>
		<li><a href="../1-2.html">Sub 3.2</a></li>
		<li><a href="javascript;;">Sub 3.3</a></li>
		<li><a href="javascript;;">Sub 3.4</a></li>
		<li><a href="javascript;;">Sub 3.5</a></li>
	</ul>
	</li>
	<li><a href="javascript;;">按鈕2</a><ul>
		<li><a href="javascript;;">Sub 3.1</a></li>
		<li><a href="javascript;;">Sub 3.2</a></li>
		<li><a href="javascript;;">Sub 3.3</a></li>
		<li><a href="javascript;;">Sub 3.4</a></li>
		<li><a href="javascript;;">Sub 3.5</a></li>
	</ul>
	</li>
	<li><a href="javascript;;">按鈕3</a><ul>
		<li><a href="javascript;;">Sub 3.1</a></li>
		<li><a href="javascript;;">Sub 3.2</a></li>
		<li><a href="javascript;;">Sub 3.3</a></li>
		<li><a href="javascript;;">Sub 3.4</a></li>
		<li><a href="javascript;;">Sub 3.5</a></li>
	</ul>
	</li>
	<li><a href="javascript;;">長一點的按鈕4</a><ul>
		<li><a href="javascript;;">Sub 3.1</a></li>
		<li><a href="javascript;;">Sub 3.2</a></li>
		<li><a href="javascript;;">Sub 3.3</a></li>
		<li><a href="javascript;;">Sub 3.4</a></li>
		<li><a href="javascript;;">Sub 3.5</a></li>
	</ul>
	</li>
	<li><a href="javascript;;">按鈕5</a><ul>
		<li><a href="javascript;;">Sub 3.1</a></li>
		<li><a href="javascript;;">Sub 3.2</a></li>
		<li><a href="javascript;;">Sub 3.3</a></li>
		<li><a href="javascript;;">Sub 3.4</a></li>
		<li><a href="javascript;;">Sub 3.5</a></li>
	</ul>
	</li>
</ul>

</body>

</html>
